@charset "utf-8";

/* cover */
.cover {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 70%;
  height: 1200px;
}
/* sidebar */
.sidebar {
  width: 30%;
  float: right;
  background-color: #ddffdd;
  height: 1200px;
}

/* attraction_show_wish_users */
.wish_users {
  width: 45%;
  float: left;
  margin-right: 10%;
}

/* attraction_show_reviews */
.reviews {
  width: 45%;
  float: right;
}

/* user_review全体*/
.user_review {
  border-style: solid ; border-width: 1px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-left: 5px;
}

/* user_reviewのcomment */
.comment {
  border-top-style: dotted ; border-width: 1px;
}