    <% @review_users.each do |user| %>
      <div class="review_list">
        <div class="user_review">
          <p><%= link_to user.name, user_path(user)%>　　<span id="star_user"></span</p>
          <p><%= user.review(@attraction).comment %></p>
          <% if current_user == user %>
            <%= link_to "レビューの削除", @review, method: :delete, data: {comfirm: "本当に削除しますか？" }, class: 'btn btn-danger btn-xs' %>
          <% end %>
        </div>  
      </div>

    
<script>
$('#star_user').raty({
  size     : 36,
  starOff: '/assets/star-off.png',
  starOn : '/assets/star-on.png',
  starHalf: '/assets/star-half.png',
  scoreName: 'review[rate]',
  readOnly: true, score: <%= user.review(@attraction).rate %>
});
</script>    
    <% end %>